[Unit]
Description=HoCo Adapter Homematic
After=network.target multimacd.service rfd.service hmipserver.service

[Service]
WorkingDirectory=/opt/hoco/adapter/homematic
ExecStart=/usr/bin/node ../common/app.js
Restart=always
StandardOutput=syslog
SyslogIdentifier=hoco-homematic
User=hoco
Group=hoco
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
